body {
    background-image: url('img/sky.gif');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}

section {
    margin: auto;
    width: 600px;
}

h1 {
    font-family: 'Pirata One', cursive;
    font-size: 100px;
    color: white;
    text-align: center;
}

img {
    display: block;
    margin: auto;
}
