/* Colors */

.indigo {
    background-color: #2B4162;
}

.space {
    background-color: #385F71;
}

.magnolia {
    background-color: #F5F0F6;
}

.wood {
    background-color: #D7B377;
}

.bistro {
    background-color: #8F754F;
}
