@import url('reset.css');
@import url('colors.css');
@import url('grid.css');
@import url('utils.css');

#beegsisko {
    background-image: url(ds9.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}