@import url(reset.css);
@import url(colors.css);
@import url(flex-order.css);


/* Navigation */

nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

nav ul {
    display: flex;
    flex-direction: column;

}

nav ul li {
    padding: 20px;
}

.logo {
    width:300px;
    order: 1;
}

.link-1{
    order: 2;
}

.link-2{
    order: 3;
}

.link-3{
    order: 4;
}

.link-4{
    order: 5;
}

/* Media Rules */

@media (min-width: 768px) {
    nav {
        flex-direction: row;
    }

    nav ul {
        flex-direction: row;
        flex-grow: 1;
    }

    .logo {
        width:300px;
        order: 3;
    }
    
    .link-1{
        order: 1;
    }
    
    .link-2{
        order: 2;
    }
    
    .link-3{
        order: 4;
    }
    
    .link-4{
        order: 5;
    }

}