@import url("reset.css");
@import url("colors.css");
@import url("grid.css");

article {
    min-height: 250px;
}

.jumbotron {
    background-image: url(img/pikachu.png);
    background-size: cover;
    background-position: top center;
}

.jumbotron h1,
.jumbotron h3{
    text-align: center;
    margin: auto;
    font-family:'Courier New', Courier, monospace;
    color: white;
    padding:10px;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.jumbotron h1{
    font-size: 45px;
    font-weight: 700;
    margin-top: 40px;
}

.jumbotron h3{
    font-size: 20px;
    font-weight: 200;
}