@import url('reset.css');
@import url('colors.css');
@import url('grid.css');
@import url('utils.css');
@import url('nav.css');
@import url('footer.css');
@import url('text.css');

article {
    min-height: 100px;
}

.jumbotron {
    background-image: url(img/rolls.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100px;
}

.bg1 {
    background-image: url(img/n-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg2 {
    background-image: url(img/salmon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg3 {
    background-image: url(img/bowl.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg4 {
    background-image: url(img/spread.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg5 {
    background-image: url(img/n-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 768px){
    article {
        min-height: 250px;
    }
    .jumbotron {
        background-position: center;
        min-height: 300px;
    }
}
