/* Background Colors */

.bg-cucumber {
    background-color: #c4d4c9;
}

.bg-rice {
    background-color: #f2f2f3;
}

.bg-seaweed {
    background-color: #56704c;
}

.bg-tobiko {
    background-color: #de760d;
}

.bg-shrimp {
    background-color: #efcfbd;
}

.bg-tuna {
    background-color: #d32c27;
}

.bg-black {
    background-color: #000000;
}

/* Text Colors */

.txt-cucumber {
    color: #c4d4c9;
}

.txt-rice {
    color: #f2f2f3;
}

.txt-seaweed {
    color: #56704c;
}

.txt-tobiko {
    color: #de760d;
}

.txt-shrimp {
    color: #efcfbd;
}

.txt-tuna {
    color: #d32c27;
}

.txt-black {
    color: #000000;
}