footer {
    position: absolute;
    width: 100%;
    background-color: #de760d;
    padding: 9px;
    left: 0;
    bottom: 0;
    height:30px;
    overflow: hidden;
    height: 200px;
}

.footer-flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

footer img {
    max-width: 25px;
    padding: 2px 20px;
    transition: all 0.3s ease-in-out;
}

footer img:hover {
    opacity: .5;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

@media (min-width: 768px){

    footer img {
        max-width: 45px;
        padding: 5px 20px;
}
}

@media (min-width: 1024px){

    footer img {
        max-width: 70px;
        padding: 5px 40px;
}
}

