@import url('reset.css');
@import url('colors.css');
@import url('grid.css');
@import url('utils.css');
@import url('nav.css');
@import url('footer.css');
@import url('text.css');

article {
    min-height: 250px;
}

.jumbotron {
    background-image: url(img/roll2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100px;
}

.item {
    font-style: bold;
    font-size: 18px;
    line-height: 17px;
    margin: 0px;

}

.description {
    padding-left: 10px;
    font-style: italic;
    line-height: 15px;
    font-size: 14px;
}

.sushi {
    font-size: 20px;
}

@media (min-width: 768px){

    .jumbotron {
        background-position: center;
        min-height: 300px;
    }
}