body {
    background-color: #f2f2f3;
    margin:0;
    padding:0;
    height:100%;
}

img {
    max-width: 100%;
}

nav ul {
    list-style: none;
    padding-left: 0px;
}

nav ul a {
    text-decoration: none;
}