                            /* Background Colors */

.bg-lime {
    background-color: #588c7e;
}

.bg-lemon {
    background-color: #f2e393;
}

.bg-orange {
    background-color: #f1ae72;
}

.bg-grapefruit {
    background-color: #d96459;
}

.bg-meat {
    background-color: #8d4647;
}

.bg-cheese {
    background-color: #f1ae72;
}

.bg-salt {
    background-color: #f2f2f2;
}

.bg-seasalt {
    background-color: #b2b2b2;
}

.bg-pepper {
    background-color: #000000;
}

                           /* Text Colors */

.txt-lime {
    color: #588c7e;
}

.txt-lemon {
    color: #f2e393;
}

.txt-orange {
    color: #f1ae72;
}

.txt-grapefruit {
    color: #d96459;
}

.txt-meat {
    background-color: #8d4647;
}

.txt-cheese {
    background-color: #f1ae72;
}

.txt-salt {
    background-color: #f2f2f2;
}

.txt-seasalt {
    background-color: #b2b2b2;
}

.txt-pepper {
    background-color: #000000;
}