/* Phone n General */

header {
    position: sticky;
	top: 0;
    margin: 0;
    overflow: hidden;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-top: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

header .box {
    margin-top: 10px;
    margin-left: 22px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 1px;
    width: 35px;
    height: 35px;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    padding-left: 10px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 5px 5px 0px;
    color: #b2b2b2;
}
header .myname {
    color: #8d4647;
}
header .myname:hover {
    color: #f1ae72;
}

#menutoggle {
    display: none;
}

#menuimage {
    height: 35px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
}

header nav ul {
    display: none;
}

#menutoggle:checked + ul {
    display: block;
}

header nav ul li {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 5px 10px;
}

header nav ul li a {
    color: #d96459;
}

header nav ul li a:hover {
    color: #f2e393;
}

/* Ipad */

@media (min-width: 768px) {

    header .box {
        width: 30px;
        height: 30px;
    } 

    #menuimage {
        height: 30px;
        display: inline-block;
        margin-top: 10px;
        margin-left: 20px;
    }
}

/* Desktop */

@media (min-width: 1024px) {

    header .box {
        width: 30px;
        height: 30px;
        float: left;
    } 

    label[for=menutoggle] {
        display: none;
    }

    header nav ul {
        display: flex;
        float: right;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 5px;
    }

    header nav ul li {
        padding: 10px;
        font-size: 15px;
    }

    header nav ul li a {
        color: #588c7e;
    }

    header nav ul li a:hover {
        color: #f2e393;
    }

}
