html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f2f2f2;
    margin: 0;
}

img {
    max-width: 100%;
}

nav ul {
    list-style: none;
    padding-left: 0px;
}

nav ul a {
    text-decoration: none;
}

[data-title]:hover::after{
    opacity: 1;
    visibility:visible;
    transition: all 0.5s ease-in-out;
}
a, a:hover, a:active, th:hover [data-title]:hover{
	text-decoration: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


[data-title]:after {
    content: attr(data-title);
    position:absolute;
    top: -13px;
    left: -10px;
    width: auto;
    height:50px;
    padding: 10px;
    background: #d96459;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    visibility: hidden;
    z-index: 99999;
    opacity: 0;
    white-space: nowrap;
    letter-spacing: 0px;
}

[data-title] {
    position: relative;
}