body {
    background-image: url('img/SparkleBack.gif');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

header {
    background-color: pink;
    width: 100%;
}

header img {
    max-width: 100%;
    padding:10px;
    display: inline;

}

header h1 {
    font-family: 'Handlee', cursive;
    font-size: 25px;
    display: inline-block;
    height: 60px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    text-align: center;
    color: #80494f;

}

#menutoggle {
    display: none;
}

#logo {
    height: 50px;
    padding:20px;
    float: left;

}

#togglebutton {
    height: 40px;
    padding: 20px;
    float: right;
    margin-top: 10px;
}

header nav ul {
    display: none;
    padding-left: 0px;
    list-style: none;

}

#menutoggle:checked + ul {
    display: block;
}

header nav ul li {
    padding: 5px 10px;
    border-top: 2px dotted lavender;
    text-align: center;
}

header a {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
    color: #80494f;
}


section {
    width: 90%;
    background-color: #fffac0;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

main h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 40px;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
}

main img {
    padding: 3px;
}

main img.right {
    float: right;
}

main img.left {
    float: left;
}

main img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    section {
        width: 80%;
        margin: auto;
        background-color: #c0d6ff;
    }

    header h1 {
        font-family: 'Handlee', cursive;
        font-size: 45px;
        display: inline-block;
        text-align: center;
        height: 50px;
        width: 500px;
    
    }

    #logo {
        height: 70px;
        padding:20px;
        float: left;
    
    }

    #togglebutton {
        height: 60px;
        padding: 20px;
        float: right;
        margin-top: 10px;
    }

}

@media (min-width: 1000px) {
    section {
        width: 70%;
        margin: auto;
        background-color: #eaffc0;
    }

    header h1 {
        font-family: 'Handlee', cursive;
        font-size: 45px;
        display: inline-block;
        height: 50px;
        width: 500px;
    
    }

    #logo {
        height: 70px;
        padding:20px;
        float: left;
    
    }

    label[for=menutoggle] {
        display: none;
    }


    header nav ul {
        display: inline-block;
        margin-top:40px;
        margin-right: 10px;
        float: right;
    }

    header nav ul li {
        display: inline-block;
        border-top: 0px;
    }

    header a {
        font-size: 25px;
    }

}

