footer {
    display:block;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: grey;
    background-color: lightgrey;
    font-size: 11px;
    padding: 9px;
    margin: auto;
}

@media (min-width: 768px){
    footer {
        width: 768px;
        margin: auto;
    }
}


@media (min-width: 1024px){
    footer {
        width: 1024px;
        margin: auto;
    }
}
