@import url("reset.css");
@import url("colors.css");
@import url("grid.css");

article {
    min-height: 250px;
}

.jumbotron {
    background-image: url(img/pikachu.png);
    background-size: cover;
    background-position: top center;
}

.jumbotron h1{
    text-align: center;
    margin: auto;
    font-family:'Chango', cursive;
    color: white;
    padding:10px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    font-size: 55px;
    font-weight: 700;
    margin-top: 55px;
}

.button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
    border-radius: 15px;
    margin: 10px auto;
    width: 30%;
    cursor: pointer;
  }

.pikafly {
    float: left;
    padding: 5px;
    margin-left: 40px;
}

.pikafly2 {
    float: left;
    padding: 10px;
}

@media (min-width: 1024px){
    .jumbotron h1{
        margin-top: 80px;
        font-size: 70px;
        -webkit-text-stroke-width: 5px;
        -webkit-text-stroke-color: black;
    }
    .pikafly {
        float: left;
        padding: 5px;
        margin-left: 30px;
    }
}