@import url("reset.css");
@import url("colors.css");
@import url("grid.css");

article {
    min-height: 250px;
}

.jumbotron {
    background-image: url(img/pikachu.png);
    background-size: cover;
    background-position: bottom;
    height: 100px;
}

.jumbotron h1{
    text-align: center;
    margin: auto;
    font-family:'Chango', cursive;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 40px;
    font-weight: 700;
}

h1 {
    text-align: right;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    color: #858585;
    font-size: 20px;
}

p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 12px;
}

@media (min-width: 768px){
    .jumbotron h1{
        font-size: 70px;
        -webkit-text-stroke-width: 5px;
        -webkit-text-stroke-color: black;
    }
}

@media (min-width: 1024px){
    .jumbotron h1{
        font-size: 70px;
        -webkit-text-stroke-width: 5px;
        -webkit-text-stroke-color: black;
    }
}