@import url("reset.css");
@import url("colors.css");
@import url("grid.css");

article {
    min-height: 250px;
}

.jumbotron {
    background-image: url(img/pikachu.png);
    background-size: cover;
    background-position: bottom;
    height: 100px;
}

.jumbotron h1{
    text-align: center;
    margin: auto;
    font-family:'Chango', cursive;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 40px;
    font-weight: 700;
}

@media (min-width: 768px){
    .jumbotron h1{
        font-size: 70px;
        -webkit-text-stroke-width: 5px;
        -webkit-text-stroke-color: black;
    }
}

@media (min-width: 1024px){
    .jumbotron h1{
        font-size: 70px;
        -webkit-text-stroke-width: 5px;
        -webkit-text-stroke-color: black;
    }
}