body {
    margin: 0;
}

img {
    max-width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style: none;
    padding-left: 0px;
    width: 100%;
    margin: 0px auto;
}

nav ul li {
    padding: 10px;
    text-align: center;
    width: 100%;
}

nav ul a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Chango', cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #f2a2e8;
}

.segment h1 {
    text-align: right;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    color: #474747;
    font-size: 25px;
    margin: 10px 25px;
}

.segment p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 13px;
    margin: 5px 25px;    
}

.segment img.break {
    width: 100%;
    margin: 0px auto;
}

.segment img.center {
    display: block;
    margin: 20px auto;
}

footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: auto;
    color: grey;
    background-color: lightgrey;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    font-size: 11px;
    text-transform: uppercase;
    padding: 9px;
}

@media (min-width: 1024px){
    nav ul {
        width: 1024px;
        margin: 0px auto;
    }

    nav ul a {
        font-size: 30px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #f2a2e8;
    }
}